{% extends 'main/base.html' %}
{% load staticfiles %}

{% block extra-head %}
    <link href="{% static 'css/forum.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar-highlight %}navbar_forum{% endblock navbar-highlight %}

{% block container %}

<div style="padding-bottom: 10px">
{% block forum-nav %}
    Forum
{% endblock forum-nav %}
</div>

{% block forum-body %}
    <div id="forum-main-container">
    {% for group in forum_groups %}
        <div class="forum-group-head">
            {{ group.name }}
        </div>
        <div class="forum-group-container">
            {% for forum in group.forums.all %}
                <div class="row forum" id="forum-{{ forum.id }}">
                    <span class="forum-icon col-xs-1"></span>
                    <div class="forum-name-div col-xs-8">
                        <h3 class="forum-name"><a href="{% url 'forum:topic_list' forum.id %}">{{ forum.name }}</a></h3>
                        <p>{{ forum.desc }}</p>
                    </div>
                    <div class="forum-statistics col-xs-3 row">
                        <div class="forum-post-counts col-xs-4">{{ forum.count_num_posts }}</div>
                        <div class="forum-last-post col-xs-8">
                            <p>{{ forum.last_post }}</p>
                            <p>by {{ forum.last_post.created_by }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
{% endblock forum-body %}

{% endblock container %}