{% load staticfiles %}
{% load user_avatar_tags %}
{% load bleach_tags %}
{% load permissions %}
{% load humanize %}

{% block postview %}
  <div class="post-outer-wrapper row" style="margin-bottom:20px">
    {# This span is used to make anchor offset for fixed navbar #}
    <span id="post-{{ post.id }}" class="anchor"></span>
    <div class="col-xs-1">
      <div class="post-avatar-wrapper ">
        <div class="circular-image" style="background: url({% user_avatar_url post.created_by %}) no-repeat">
          <a href="{% url 'user:profile' post.created_by.id %}">
            <img src="{% user_avatar_url post.created_by 80 %}" alt="" height="80px" width="80px"/>
          </a>
        </div>
      </div>
      <div class="post-username-under-avata">
        <a href="{{ post.created_by.get_absolute_url }}">
          {{ post.created_by.username }}
        </a>
      </div>
    </div>
    <div class="post-content-wrapper col-xs-11">
      <div class="panel {% if is_root %}panel-primary{% else %}panel-default{% endif %} arrow_box">
        <div class="panel-heading">
          <div class="container-fluid panel-container">
            <div class="col-xs-6 text-left">
              <a href="{{ post.created_by.get_absolute_url }}" class="post-username">
                {{ post.created_by.username }}
              </a>
              <a href="#post-{{ post.id }}"><span class="glyphicon glyphicon-link"></span></a>
            </div>
            <div class="text-right">
              {{ post.created_at|naturaltime }}
            </div>
          </div>
        </div>
        <div class="panel-body">
          {% if post.reply_on and post.reply_on.reply_on %}
            <div class="well">
              Trả lời
              <a href="{% url 'user:profile' post.reply_on.id %}">{{ post.reply_on.created_by }}</a>
              <br/>
              <a href="#post-{{ post.reply_on.id }}">Link</a>
              &nbsp;|&nbsp;
              <a href="javascript:void(0)" onclick="$(this).next().toggle()">Hiện bài gốc</a>
              <div id="post-{{ post.reply_on }}-parent" style="display:none">{{ post.reply_on.content|bleach }}</div>
            </div>
          {% endif %}
          {{ post.content|bleach }}
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-10 text-left">
              <a class="post-reply" href="javascript:void(0)"
                 role="button" post-id="{{ post.id }}"
                 post-reply-url="{% url 'forum:post_create' forum.id topic.id post.id %}">
                Trả lời
              </a>
              {% ifhasperm "post_permission.can_update_post" request.user post %}
                &nbsp;|&nbsp;
                <a class="post-edit" href="{% url 'forum:post_update' forum.id topic.id post.id %}"
                   role="button">
                  Chỉnh sửa
                </a>
              {% endifhasperm %}
              {% ifhasperm "post_permission.can_delete_post" request.user post %}
                &nbsp;|&nbsp;
                <a class="post-delete" href="javascript:void(0)"
                   role="button" post-id="{{ post.id }}">
                  Xóa
                </a>
              {% endifhasperm %}
              {% if is_root %}
                {% ifhasperm "topic_permission.can_toggle_pin" request.user topic %}
                  {% if topic.is_pinned %}
                    &nbsp;|&nbsp;
                    <a class="post-pin" href="{% url 'forum:unpin' topic.id %}" role="button">
                      Bỏ ghim
                    </a>
                  {% else %}
                    &nbsp;|&nbsp;
                    <a class="post-pin" href="{% url 'forum:pin' topic.id %}" role="button">
                      Ghim
                    </a>
                  {% endif %}
                {% endifhasperm %}
                {% if user.is_authenticated and user.is_superuser %}
                  &nbsp;|&nbsp;
                  <a class="post-admin" href="{% url 'admin:forum_topic_change' topic.id %}" role="button">
                    Admin
                  </a>
                {% endif %}
              {% endif %}
            </div>
            {# <div class="post-vote-wrapper text-right col-md-2"> #}
            <div class="post-vote-wrapper text-right col-md-2">
              <!--<a class="post-upvote col-md-4"
                 href="javascript:void(0)"
                 post-id="{{ post.id }}"
                 role="button"
                 style="text-decoration: none;" 
                 id="upvote-{{ post.id }}">
                <div class="up">&#9650;</div>
                {# <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> #}
              </a>
              <div class="post-count-upvote col-md-4" id="total-vote-{{ post.id }}">
                {{ post.total_votes }}
              </div>
              <a class="post-downvote col-md-4"
                 href="javascript:void(0)"
                 post-id="{{ post.id }}"
                 role="button"
                 style="text-decoration: none;"
                 id="downvote-{{ post.id }}">
                <div class="down">&#9660;</div>
                {# <span class="glyphicon glyphicon-minus" aria-hidden="true"></span> #}
              </a>-->
              <table style="width:100%">
                <colgroup>
                  <col style="width:33%"></col>
                  <col style="width:33%"></col>
                  <col style="width:33%"></col>
                </colgroup>
                <tr>
                  <td>
                    <div> </div>
                    <a class="post-upvote col-md-4"
                       href="javascript:void(0)"
                       post-id="{{ post.id }}"
                       role="button"
                       style="text-decoration: none;" 
                       id="upvote-{{ post.id }}">
                      <div class="up">&#9650;</div>
                    </a>
                  </td>
                  <td>
                    <div class="post-count-upvote col-md-4" id="total-vote-{{ post.id }}">
                      {{ post.total_votes }}
                    </div>
                  </td>
                  <td>
                    <div> </div>
                    <a class="post-downvote col-md-4"
                       href="javascript:void(0)"
                       post-id="{{ post.id }}"
                       role="button"
                       style="text-decoration: none;"
                       id="downvote-{{ post.id }}">
                      <div class="down">&#9660;</div>
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="clear:both;"></div>
{% endblock postview %}