{% extends 'forum/forum_index.html' %}

{% block forum-nav %}
    <a href="{% url 'forum:index' %}">Forum</a> > {{forum.name}}
{% endblock forum-nav %}

{% block forum-body %}
<a href="{% url 'forum:topic_create' forum.id %}">Create new topic</a>
<table border="1" cellpadding="4" width="100%">
    <tr>
        <td>Topics</td>
        <td>Replies</td>
        <td>Last post</td>
        <td></td>
    </tr>

    {% for topic in topics %}
    <tr>
        <td><a href="{% url 'forum:topic_retrieve' topic.forum_id topic.id %}">{{ topic.title }}</a>
         by <a href="">{{topic.created_by}}</a> </td>
        <td>{{ topic.num_posts }}</a></td>
        <td><a>{{ topic.last_post }}</a> by <a href="">{{topic.created_by}}</a> </td></a></td>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock forum-body %}