{% extends 'forum/forum_index.html' %}

{% load staticfiles %}

{% block navbar-highlight %}navbar_{{ forum.get_navbar_highlight }}{% endblock navbar-highlight %}

{# 3 components: Forum, Problem discuss, Library reuse this template #}
{# thus we must handle breadcrumbs to show correct component #}
{% block breadcrumbs %}
  {% if forum.forum_group.group_type == 'f' %}
    <li><a href="{% url 'forum:index' %}">Forum</a></li>
  {% elif forum.forum_group.group_type == 'l' %}
    <li><a href="{% url 'library:index' %}">Thư viện</a></li>
  {% else %}
    <li><a href="{% url 'problems:list' %}">Danh sách bài tập</a></li>
  {% endif %}
  <li><a href="{{forum.get_absolute_url}}">{{ forum.name }}</a></li>
  <li>{{ topic.title }}</li>
{% endblock breadcrumbs %}

{% block forum-body %}
  {% include 'forum/post_retrieve.html' %}

  <div id="post-delete-confirm-dialog" style="display:none" title="Xóa bài viết">
    Thao tác này sẽ xóa hoàn toàn bài viết này. Bạn không thế lấy lại bài viết đã xóa.
    Bạn có muốn tiếp tục không?
  </div>
{% endblock forum-body %}

{% block extra-js %}
  <script src="{% static 'js/forum.js' %}"></script>
  <script src="{% static 'js/highlight/highlight.pack.js' %}"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {% include 'forum/disable_voted.html' %}
{% endblock %}