{% extends 'forum/forum_index.html' %}

{% load staticfiles %}

{% block page_title %}
  {{ topic.title }} - VNOI
{% endblock page_title %}

{% block navbar-highlight %}navbar_{{ forum.get_navbar_highlight }}{% endblock navbar-highlight %}

{# 3 components: Forum, Problem discuss, Library reuse this template #}
{# thus we must handle breadcrumbs to show correct component #}
{% block breadcrumbs %}
  {% if forum.forum_group.group_type == 'f' %}
    <li><a href="{% url 'forum:index' %}">Diễn đàn</a></li>
  {% elif forum.forum_group.group_type == 'l' %}
    <li><a href="{% url 'library:index' %}">Thư viện</a></li>
  {% else %}
    <li><a href="{% url 'problems:list' %}">Danh sách bài tập</a></li>
  {% endif %}
  <li><a href="{{forum.get_absolute_url}}">{{ forum.name }}</a></li>
  <li>{{ topic.title }}</li>
{% endblock breadcrumbs %}

{% block forum-body %}
  <div class="grid">
    {% for post in posts %}
      {% include 'forum/post_retrieve.html' with is_root=forloop.first %}
    {% endfor %}
  </div>

  <div id="post-delete-confirm-dialog" style="display:none" title="Xóa bài viết">
    Thao tác này sẽ xóa hoàn toàn bài viết này. Bạn không thế lấy lại bài viết đã xóa.
    Bạn có muốn tiếp tục không?
  </div>

  <div id="post-reply-form-div" style="display:none">
    {% include 'main/base_form.html' with form_id='post-reply-form' %}
  </div>
{% endblock forum-body %}

{% block extra-js %}
  <script src="{% static 'js/forum.js' %}"></script>
  {% include 'forum/disable_voted.html' %}
{% endblock %}