{% extends 'forum/forum_index.html' %}

{% block forum-nav %}
    <a href="{% url 'forum:index' %}">Forum</a> > <a href="{% url 'forum:topic_list' forum.id %}">{{forum.name}}</a> > {{topic.title}}
{% endblock forum-nav %}

{% block forum-body %}

{% for post in posts %}
    <div style="background-color: wheat; ">
        <p>Title: {{post.title}}</p>
        <p>Created by {{post.created_by}} </p>
        <p>Created at {{post.created_at}} </p>
        <p>Content: {{post.content}}</p>
    </div>

{% endfor %}
{% endblock forum-body %}
