{% extends 'main/base.html' %}

{% block navbar-highlight %}navbar_problems{% endblock navbar-highlight %}
{% block breadcrumbs %}
  <li>Danh sách bài tập</li>
{% endblock breadcrumbs %}

{% block container %}
  <div id="problem-list" style="">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span>
        Danh sách bài tập
        &nbsp;|&nbsp;
        <span class="glyphicon glyphicon-king"></span>
        Xếp hạng
      </div>
      <div class="panel-body">
        <input id="acm-toggle" type="checkbox" checked="checked" value="checked" onchange="$('.acm').toggle()">
        <label for="acm-toggle">ACM</label>
        <input id="oi-toggle" type="checkbox" checked="checked" value="checked" onchange="$('.oi').toggle()">
        <label for="oi-toggle">OI</label>
      </div>
      <table class="table table-striped" id="problem-list-table">
        <tbody>
        <colgroup> 
          <col style="width:10%;"></col>
          <col style="width:15%;"></col>
          <col style="width:45%;"></col>
          <col style="width:10%;"></col>
          <col style="width:10%;"></col>
          <col style="width:10%;"></col>
        </colgroup>
        <tr>
          <th>Loại bài&nbsp;<span class="glyphicon glyphicon-sort-by-alphabet"></span></th>
          <th>Mã bài&nbsp;<span class="glyphicon glyphicon-sort-by-alphabet"></span></th>
          <th>Tên bài</th>
          <th>Giải được&nbsp;<span class="glyphicon glyphicon-sort-by-attributes"></span></th>
          <th style="text-align: center;">Điểm&nbsp;<span class="glyphicon glyphicon-sort-by-attributes"></span></th>
          <th></th>
        </tr>
        {% for problem in problems %}
          <tr class="{{ problem.category__name }}">
            <td>{{ problem.category__name }}</td>
            <td><a href="{% url 'problems:show' problem.code %}">{{ problem.code }}</a></td>
            <td>{{ problem.name }}</td>
            <td><a href="{% url 'problems:rank' problem.code %}">{{ problem.accept_count }}</a></td>
            <!-- require rank of prob -->
            <td style="text-align: center;">{{ problem.score }}</td>
            <td><a href="{% url 'problems:discuss' problem.code %}">Thảo luận</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <nav class = "prob-pagination">
    <ul class="pagination">
      {% if problems.has_previous %}
        <li><a href="?page={{ problems.previous_page_number }}" aria-label="Previous"><span aria-hidden="true"><<</span></a></li>
      {% endif %}
      {% for x in page_range %}
        {% if x == problems.number %}
          <li class="active"><a href="?page={{ x }}">{{ x }}</a></li>
        {% else %}
          <li><a href="?page={{ x }}">{{ x }}</a></li>
        {% endif %}
      {% endfor %}
      {% if problems.has_next %}
        <li><a href="?page={{ problems.next_page_number }}" aria-label="Next"><span aria-hidden="true">>></span></a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock container %}
