{% extends 'main/base.html' %}

{% block navbar-highlight %}navbar_problems{% endblock navbar-highlight %}

{% block breadcrumbs %}
  <li><a href="{% url 'problems:list' %}">Danh sách bài tập</a></li>
  <li>{{ problem.code }}</li>
{% endblock breadcrumbs %}

{% block container %}
  <div class="row">
    <div class="col-md-2 nav nav-pills nav-stacked"> 
      {% block problem_menu %}
        <li role="presentation" class="active"> <a href="#"> Problems </a> </li>
        <li role="presentation" class=""> <a href="http://vn.spoj.com/submit/{{ problem.code }}"> Submit </a>  </li>
        <li role="presentation" class=""> <a href="http://vn.spoj.com/status/{{ problem.code }}"> Status </a>  </li>
        <li role="presentation" class=""> <a href="http://vn.spoj.com/ranks/{{ problem.code }}"> Ranks </a> </li>
        <li role="presentation" class=""> <a href="{% url 'problems:discuss' problem.code %}"> Discuss </a>  </li>
      {% endblock problem_menu %}    
    </div>
    <div class="col-md-10">
      <h2>{{ problem.name }} ( {{problem.code}} )</h2>
      <ul>
        <li class="prob-info">
          <strong>Giới hạn thời gian:</strong>
          <span class="prob-detail-info">{{ problem.time_limit }}s</span>
        </li>
        <li class="prob-info">
          <strong>Giới hạn bộ nhớ:</strong>
          <span class="prob-detail-info">{{ problem.memory_limit }}MB</span>
        </li>
        <li class="prob-info">
          <strong>Giới hạn mã nguồn:</strong>
          <span class="prob-detail-info">{{ problem.source_limit }} bytes</span>
        </li>
      </ul>
      <p>{{ problem.statement|safe }}</p>
      <hr/>
      <ul>
        <li class="prob-info">
          <strong>Người up:</strong>
          <span class="prob-detail-info">{{ problem.author }}</span>
        </li>
        <li class="prob-info">
          <strong>Ngôn ngữ cho phép:</strong>
          <span class="prob-detail-info">{{ problem.allowed_languages }}</span>
        </li>
        <li class="prob-info">
          <strong>Nguồn bài:</strong>
          <span class="prob-detail-info">{{ problem.problem_source }}</span>
        </li>
      </ul>
    </div>
  </div>
{% endblock container %}

{#{% block _navbar-highlight %}navbar_problems{% endblock _navbar-highlight %}#}
{##}
{#{% block _breadcrumbs %}#}
{#  <li><a href="{% url 'problems:list' %}">Danh sách bài tập</a></li>#}
{#  <li>{{ problem.code }}</li>#}
{#{% endblock _breadcrumbs %}#}
{##}
{#{% block _container %}#}
{#  <h2>Đề bài - {{ problem.name }}</h2>#}
{#  <p>{{ problem.statement|safe }}</p>#}
{#  <h2>Thông tin:</h2>#}
{#  <ul>#}
{#    <li>Người up: {{ problem.author }}</li>#}
{#    <li>Giới hạn thời gian: {{ problem.time_limit }}s</li>#}
{#    <li>Giới hạn bộ nhớ: {{ problem.memory_limit }}MB</li>#}
{#    <li>Giới hạn mã nguồn: {{ problem.source_limit }} bytes</li>#}
{#    <li>Ngôn ngữ cho phép: {{ problem.allowed_languages }}</li>#}
{#    <li>Nguồn bài: {{ problem.problem_source }}</li>#}
{#  </ul>#}
{#  <h2>Xếp hạng bài</h2>#}
{#  <p>Những người đã AC...</p>#}
{#{% endblock _container %}#}
