{% extends 'main/base.html' %}

{% block navbar-highlight %}navbar_problems{% endblock navbar-highlight %}

{% block breadcrumbs %}
  <li><a href="{% url 'problems:list' %}">Danh sách bài tập</a></li>
  <li>{{ problem.code }}</li>
{% endblock breadcrumbs %}

{% block container %}
  <div class="row" style="margin-left:0">
    <div class="col-md-2 nav nav-pills nav-stacked">
      {% block problem_menu %}
        <li role="presentation" class="active"> <a href="{% url 'problems:show' problem.code %}"> Problems </a> </li>
        <li role="presentation" class=""> <a href="{% url 'problems:submit' problem.code %}"> Submit </a>  </li>
        <li role="presentation" class=""> <a href="{% url 'problems:status' problem.code %}"> Status </a>  </li>
        <li role="presentation" class=""> <a href="{% url 'problems:rank' problem.code %}"> Ranks </a> </li>
        <li role="presentation" class=""> <a href="{% url 'problems:discuss' problem.code %}"> Discuss </a>  </li>
      {% endblock problem_menu %}
    </div>
    {% block problem-content %}
    {% endblock problem-content %}
  </div>
{% endblock container %}
