{% extends 'main/base.html' %}

{% load staticfiles %}
{% load user_avatar_tags %}
{% load bleach_tags %}
{% load permissions %}
{% load humanize %}

{% block navbar-highlight %}navbar_contests{% endblock navbar-highlight %}

{% block container %}
  <div class="row lib-row-same-height">
    {# Left menu #}
    <div class="col-md-3">
      {% block contest_menu %}
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {% for contest_group in contest_groups %}
            <div class="panel panel-default library-group">
              <div class="panel-heading" role="tab" id="heading-{{ contest_group.id }}">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ contest_group.id }}" aria-expanded="true" aria-controls="collapse-{{ contest_group.id }}">
                    {# Note: on server, unlike initial fixtures, this string will not have the "Library - " prefix #}
                    {# Thus, please do not substring this string. It will look correct on server #}
                    <span class="caret"></span>&nbsp;
                    {{ contest_group.name }}
                  </a>
                </h4>
              </div>
              <div id="collapse-{{ contest_group.id }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-{{ contest_group.id }}">
                <div class="panel-body">
                  <ul class="nav nav-pills nav-stacked collapse lib-small-topic in" id = "lib_group_{{ contest_group.id }}">
                    {% for contest in contest_group.contests.all %}
                      <li role="presentation" class="lib-menu-item {% if contest.id == contest_id %}active{% endif %}">
                        <a href="{% url 'contests:list' contest.id %}"> {{ contest.name }} </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endblock contest_menu %}
    </div>
    {# end of left menu #}

    <div class="col-md-9">
      <div class=" lib-list-container">
        <div class="well">
          {% if contest.description %}
            <h4>Giới thiệu</h4>
            <p>{{ contest.description }}</p>
          {% endif %}
          <h4>Links</h4>
          <ul>
            {% for resource in resources.all %}
              <li>
                <a class="" href="{{ resource.url }}">{{ resource.name }}</a>
              </li>
            {% endfor %}
          </ul>
          <h4>Xếp hạng</h4>
          <ul>
            {% for standing in standings.all %}
              <li>
                <a class="" href="{% url 'contests:standings' standing.id %}">
                  {{ standing.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock container %}
