{% extends 'main/base.html' %}

{% block navbar-highlight %}navbar_contests{% endblock navbar-highlight %}
{% block breadcrumbs %}
  <li><a href="{% url 'contests:list' %}">Danh sách kỳ thi</a></li>
  <li><a href="{% url 'contests:list' contest.contest.id %}">{{ contest.contest.name }}</a></li>
  <li>{{ contest.name }}</li>
{% endblock breadcrumbs %}

{% block container %}
  <div id="contest-show" style="">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span>
        {{ contest.contest.code }} - {{ contest.name }}
      </div>
      <table class="table table-striped" id="contest-show-table">
        <tbody>
        <tr>
          {% for col_name in contest_title %}
            <th>{{ col_name }}</th>
          {% endfor %}
        </tr>
        {% for row in contest_table %}
          <tr>
          {% for cell in row %}
            <td>{{ cell }}</td>
          {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock container %}
