{% extends 'main/base.html' %}

{% load staticfiles %}
{% load user_avatar_tags %}
{% load bleach_tags %}
{% load permissions %}
{% load humanize %}

{% block navbar-highlight %}navbar_contests{% endblock navbar-highlight %}
{% block breadcrumbs %}
  <li>Danh sách kỳ thi</li>
{% endblock breadcrumbs %}

{% block container %}
  <div id="contest-list" style="">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-list"></span>
        Danh sách kỳ thi
      </div>
      
      <table class="table table-striped" id="contest-list-table">
        <tbody>
        <tr>
          <th>Kỳ thi</th>
          <th>Vòng thi</th>
          <th></th>
        </tr>
        {% for contest in contests %}
          <tr>
            <td><a href="">{{ contest.code }}</a></td>
            <td><a href="{% url 'contests:show_table' contest.id %}">{{ contest.name }}</a></td>
            <td><a href="">Thảo luận</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock container %}
