{% extends 'main/base.html' %}

{% block navbar-highlight %}navbar_library{% endblock navbar-highlight %}
{% block breadcrumbs %}
  <li>Thư viện</li>
{% endblock breadcrumbs %}

{% block container %}
  <div class="btn-toolbar button-container" role="toolbar">
    {% block buttons-wrapper %}
    {% endblock buttons-wrapper %}
  </div>
  <div class="row lib-row-same-height">
    {% include 'vnoilib/includes/left_menu.html' %}

    <div class="col-md-9">
      <div class=" lib-list-container">
        {% block library_content %}
        {% endblock library_content %}
      </div>
    </div>
  </div>
{% endblock container %}