{% extends 'vnoilib/index.html' %}

{% block navbar-highlight %}navbar_library{% endblock navbar-highlight %}

{% block breadcrumbs %}
  <li><a href="{% url 'library:index' %}">Thư viện</a></li>
  <li>{{ forum.name }}</li>
{% endblock breadcrumbs %}

{% block library_content %}
{% for topic in topics %}
  <div class = "lib-one-line">
    <div class="row">
      <div class="col-md-10">
        <a class = "" href="{% url 'library:topic_retrieve' forum.id topic.id %}">
          <h4 class="forum-name lib-topic-title">{{ topic.title }}</h3>
        </a>
      </div>
      <div class="col-md-2">
        <a href="{{ topic.created_by.get_absolute_url }}">
          <h4 class="forum-name lib-topic-username"> {{ topic.created_by.username }} </h3>
        </a>
      </div>
    </div>
  </div>
{% endfor %}
</table>
{% endblock library_content %}
