{% extends "vnoimessages/base_folder.html" %}
{% load i18n %}
{% block breadcrumbs %}
  <li>Tin nhắn</li>
  <li>Thư đã lưu</li>
{% endblock breadcrumbs %}
{% block left-menu-archives %}
	active
{% endblock %}
{% block pm_folder_title %}{% trans "Thư đã lưu" %}{% endblock %}
{% block pm_archive_button %}{% endblock %}
{% block pm_undelete_button %}{% endblock %}
{% block pm_footer_info %}
<p>{% trans "Thư trong thư mục này sẽ vĩnh viễn không bị xóa. Bạn có thể sử dụng thư mục này để lưu trữ thư lâu dài." %}</p>
{% endblock %}
