{% extends 'main/base.html' %}
{% load static %}
{% load url from future %}
{% load i18n %}
{% load postman_tags %}

{% block navbar-highlight %}navbar_profile{% endblock navbar-highlight %}

{% block extra-head %}
    <link href="{% static 'css/_message.scss' %}" rel="stylesheet">
{% endblock extra-head %}

{% block breadcrumbs %}
  <li>Tin nhắn</li>
{% endblock breadcrumbs %}	

{% block container %}
<div class = "row">
  <div class = "col-md-2">
  <div class="panel panel-default">
    <div class="panel-body">
      <ul class="nav nav-pills nav-stacked">{% postman_unread as unread_count %}
      {% block postman_menu %}
        <li role = "presentation" class = "{% block left-menu-inbox %}{% endblock %} msg-menu-item" style="margin-top: -15px"><a href="{% url 'message:inbox' %}">{% trans "Hộp thư đến" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
        <li role = "presentation" class = "{% block left-menu-sent %}{% endblock %} msg-menu-item"><a href="{% url 'message:sent' %}">{% trans "Thư đã gửi" %}</a></li>
        <li role = "presentation" class = "{% block left-menu-write %}{% endblock %} msg-menu-item"><a href="{% url 'message:write' %}">{% trans "Viết thư mới" %}</a></li>
        <li role = "presentation" class = "{% block left-menu-archives %}{% endblock %} msg-menu-item"><a href="{% url 'message:archives' %}">{% trans "Thư đã lưu" %}</a></li>
        <li role = "presentation" class = "{% block left-menu-trash %}{% endblock %} msg-menu-item" style="margin-bottom: -15px"><a href="{% url 'message:trash' %}">{% trans "Thùng rác" %}</a></li>	
      {% endblock %}
      </ul>
    </div>    
  </div>
  </div>
  <div class = "col-md-10">
    {% block content %}
    {% endblock content %}
   </div>
  </div>
{% endblock container %}


