{% extends "vnoimessages/base.html" %}
{% load url from future %}
{% load i18n postman_tags %}{% load pagination_tags %}
{% load humanize %}

{% comment %}
    WARNING: 'pagination_tags' is a name from the django-pagination application.
    For convenience, the design of this template is done with the use of that application.
    Django-postman will still be working, even if that application is not installed, by providing a mock
    for the template tag library.
    If the real implementation is to be used, just make sure that 'pagination' is declared before 'postman'
    in the INSTALLED_APPS setting.
{% endcomment %}

{% block content %}
<div id="postman" class="msg-action-button-container">
<div class="row">
  <div class="col-md-8">
    <h1>
{#      {% block pm_folder_title %}{% endblock %}#}
    </h1>
  </div>
  {% autopaginate pm_messages %}
  {% if invalid_page %}
  <p>{% trans "Sorry, this page number is invalid." %}</p>
  {% else %}
  {% if pm_messages %}
  <div class="col-md-4">
    <form action="{% block pm_form_action %}{% endblock %}" method="post">{% csrf_token %}
    {% block pm_form_buttons %}<span class = "msg-button" id="pm_buttons">
    {% block pm_delete_button %}<button class="btn btn-default msg-button" type="submit" onclick="this.form.action='{% url 'message:delete' %}'">{% trans "Xóa" %}</button>{% endblock %}
    {% block pm_archive_button %}<button class="btn btn-default msg-button" type="submit" onclick="this.form.action='{% url 'message:archive' %}'">{% trans "Lưu trữ" %}</button>{% endblock %}
    {% block pm_undelete_button %}<button class="btn btn-default msg-button" type="submit" onclick="this.form.action='{% url 'message:undelete' %}'">{% trans "Khôi phục" %}</button>{% endblock %}
    </span>{% endblock %}
  </div>
</div>
<!--
<table id="pm_messages">
 <thead>
  <tr>
   <th>{% trans "Action" %}</th>
{% block _pm_sender_header %}   <th><a href="{% postman_order_by sender %}">{% trans "Sender" %}</a></th>{% endblock %}
{% block _pm_recipient_header %}   <th><a href="{% postman_order_by recipient %}">{% trans "Recipient" %}</a></th>{% endblock %}
   <th><a href="{% postman_order_by subject %}">{% trans "Subject" %}</a></th>
   <th><a href="{% postman_order_by date %}">{% block _pm_date %}{% trans "Date" %}{% endblock %}</a></th>
  </tr>
 </thead>
 <tbody>{% for message in pm_messages %}
  <tr>
   <td><input type="checkbox" {% if by_conversation and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} /></td>
{% block _pm_sender_cell %}   <td>{{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}</td>{% endblock %}
{% block _pm_recipient_cell %}   <td>{{ message.obfuscated_recipient|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}</td>{% endblock %}
   <td>{% if message.is_new %}<strong>{% endif %}{% if message.is_replied %}<em>{% endif %}
{% block _pm_subject %}
    <a href="{% if by_conversation and message.thread_id %}{% url 'message:view_conversation' message.thread_id %}{% else %}{% url 'message:view' message.id %}{% endif %}?next={{ current_url|urlencode }}">
    {% include "postman/inc_subject_ex.html" %}
    </a>
{% endblock %}
   {% if message.is_replied %}</em>{% endif %}{% if message.is_new %}</strong>{% endif %}</td>
   <td>{{ message.sent_at|compact_date:_("g:i A,M j,n/j/y") }}</td>
  </tr>{% endfor %}
 </tbody>
</table>
-->
<div class = "panel panel-primary" id = "pm_message">
  <div class="panel-heading">
    <div class = "row">
      <div class="col-md-1" style = "text-align: center">
        Chọn
      </div>
      {% block pm_sender_header %}
        <div class="col-md-2 msg-user">
          <a href="{% postman_order_by sender %}">Người gửi</a>
        </div>
      {% endblock %}
      {% block pm_recipient_header %}
        <div class="col-md-2 msg-user">
          <a href="{% postman_order_by recipient %}">Người nhận</a>
        </div>
      {% endblock %}

      <div class="col-md-8">
        <a href="{% postman_order_by subject %}">Chủ đề</a>
      </div>

      <div class="msg-date">
        <a href="{% postman_order_by date %}">{% block pm_date %}Ngày gửi{% endblock %}</a>
      </div>
    </div>
  </div>
  <div>
    <table class="table table-bordered table-striped msg-folder-table"><tbody>
      {% for message in pm_messages %}
        <tr class="msg-a-message">
          <td class="col-md-1">
            <div class="msg-action-tick-button">
              <input type="checkbox" {% if by_conversation and message.thread_id %}name="tpks" value="{{ message.thread_id }}"{% else %}name="pks" value="{{ message.pk }}"{% endif %} id="message#{{ forloop.counter }}"/>
            </div>
          </td>
          {% block pm_sender_cell %}
            <td class="col-md-2 msg-user">
              {{ message.obfuscated_sender|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}
            </td>
          {% endblock %}
          {% block pm_recipient_cell %}
            <td class="col-md-2 msg-user">
              {{ message.obfuscated_recipient|or_me:user }}{% if message.count %} ({{ message.count }}){% endif %}
            </td>
          {% endblock %}
          <td class="col-md-7">
            {% if message.is_new %}<strong>{% endif %}{% if message.is_replied %}<em>{% endif %}
              {% block pm_subject %}
                <a href="{% if by_conversation and message.thread_id %}{% url 'message:view_conversation' message.thread_id %}{% else %}{% url 'message:view' message.id %}{% endif %}?next={{ current_url|urlencode }}">
                  {% include "vnoimessages/inc_subject.html" %}
                </a>
              {% endblock %}
            {% if message.is_replied %}</em>{% endif %}{% if message.is_new %}</strong>{% endif %}
          </td>
          <td >
            <div class="msg-date">
              {{ message.sent_at|naturaltime }}
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody></table>
  </div>

</div>
</form>
  {% block pm_by_modes %}<div id="pm_by_modes">
    Hiển thị theo:
    <span class="pm_by_mode">{% if by_message %}<a href="{{ by_conversation_url }}">{% endif %}hội thoại{% if by_message %}</a>{% endif %}</span>
    <span class="pm_by_mode">{% if by_conversation %}<a href="{{ by_message_url }}">{% endif %}tin nhắn{% if by_conversation %}</a>{% endif %}</span>
  </div>{% endblock pm_by_modes %}
{% paginate %}
{% else %}
</div>
<div class="row">
</div>
<p>{% trans "Không có thư mới." %}</p>
{% endif %}
{% endif %}
{% block pm_footer_info %}{% endblock %}
</div>
{% endblock content %}