{% extends "vnoimessages/base_folder.html" %}
{% load i18n %}
{% block postman_menu %}
<ul class="nav nav-pills nav-stacked">
  <li role = "presentation" class="active"><a href="{% url 'message:inbox' %}">{% trans "Hộp thư đến" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
  <li role = "presentation"><a href="{% url 'message:sent' %}">{% trans "Thư đã gửi" %}</a></li>
  <li role = "presentation"><a href="{% url 'message:write' %}">{% trans "Viết thư mới" %}</a></li>
  <li role = "presentation"><a href="{% url 'message:archives' %}">{% trans "Thư đã lưu" %}</a></li>
  <li role = "presentation"><a href="{% url 'message:trash' %}">{% trans "Thùng rác" %}</a></li>  
</ul>
{% endblock %}
{% block pm_folder_title %}{% trans "Hộp thư đến" %}{% endblock %}
{% block pm_undelete_button %}{% endblock %}
{% block pm_recipient_header %}{% endblock %}
{% block pm_date %}{% trans "Nhận lúc" %}{% endblock %}
{% block pm_recipient_cell %}{% endblock %}
