{% extends "vnoimessages/base_folder.html" %}
{% load i18n %}
{% block breadcrumbs %}
  <li>Tin nhắn</li>
  <li>Thùng rác</li>
{% endblock breadcrumbs %}
{% block left-menu-trash %}
	active
{% endblock %}
{% block pm_folder_title %}{% trans "Thùng rác" %}{% endblock %}
{% block pm_delete_button %}{% endblock %}
{% block pm_archive_button %}{% endblock %}
{% block pm_subject %}{# no link #}
  {% include "postman/inc_subject_ex.html" %}
{% endblock %}
{% block pm_footer_info %}
<p>{% trans "Thư trong thư mục này có thể sẽ bị xóa theo thời gian. Nếu bạn muốn lưu trữ thư lâu dài, hãy chuyển thư vào thư mục Lưu trữ." %}</p>
{% endblock %}