{% extends "vnoimessages/base_write.html" %}
{% load i18n %}
{% block breadcrumbs %}
  <li>Tin nhắn</li>
  <li>Viết thư mới</li>
{% endblock breadcrumbs %}
{% block postman_menu %}
  <li role = "presentation"><a href="{% url 'message:inbox' %}">{% trans "Hộp thư đến" %}{% if unread_count %} <strong>({{ unread_count }})</strong>{% endif %}</a></li>
  <li role = "presentation"><a href="{% url 'message:sent' %}">{% trans "Thư đã gửi" %}</a></li>
  <li role = "presentation" class="active"><a href="{% url 'message:write' %}">{% trans "Viết thư mới" %}</a></li>
  <li role = "presentation"><a href="{% url 'message:archives' %}">{% trans "Thư đã lưu" %}</a></li>
  <li role = "presentation"><a href="{% url 'message:trash' %}">{% trans "Thùng rác" %}</a></li>	
{% endblock %}
{% block pm_write_title %}{% trans "Viết thư mới"%}{% endblock %}