<div class="user-voj-static">
  <div class="panel panel-primary">
    <div class="panel-heading user-voj-title">
      <span class="glyphicon glyphicon-signal"></span>Thống kê VOJ
    </div>
    <div class="panel-body user-voj-detail">
      <table>
        <tr>
          <td>
            Level: {{ user.profile.voj_lever }}
          </td>
        </tr>
        <tr>
          <td>
            Score: {{ user.profile.voj_score }}
          </td>
        </tr>
        <tr>
          <td>
            Rank: {{ user.profile.voj_rank }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>