<div class="panel panel-primary" id = "recent_post">
  <div class = "panel-heading">
    <h3 class="panel-title">
      <span class="glyphicon glyphicon-hourglass"></span>
      Bài viết mới nhất
    </h3>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Bài viết</th>
          <th>Bởi</th>
        </tr>
      </thead>
      <tbody>
        {% for post in recent_posts %}
          {% if post.topic__id %}
            <tr>
              <td>
                <a href="{% url 'forum:topic_retrieve' post.topic__forum__id post.topic__id %}" class="base-popular-topic-link">
                  {{ post.topic__title }}
                </a>
              </td>
              <td>
                {{ post.created_by__username }}
              </td>
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
