<div class="panel panel-primary">
  <div class="panel-heading">
    <a class="active" href="javascript:void(0)" onclick="$('#top-contribution-list').hide();$('#top-voj-list').show();">
      <span class="glyphicon glyphicon-king"></span>
      Xếp hạng VOJ
    </a>
    <strong>&nbsp;|&nbsp;</strong>
    <a href="javascript:void(0)" onclick="$('#top-voj-list').hide();$('#top-contribution-list').show();">
      <span class="glyphicon glyphicon-heart"></span>
      Đóng góp
    </a>
  </div>
  <div id="top-voj-list">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Score</th>
        <tr>
      </thead>
      <tbody id="user-rank-table">
      </tbody>
    </table>
    <div class="panel-footer"> <a href="http://ngthanhtrung23.github.io/VOJRanklist/"><small>Full Table</small></a> </div>
  </div>
  <div id="top-contribution-list" style="display:none">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Score</th>
        <tr>
      </thead>
      <tbody>
        {% for contributor in contributors %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ contributor.user__username }}</td>
            <td>{{ contributor.contribution }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="panel-footer"> <a href=""><small>Full Table</small></a> </div>
  </div>
</div>
