{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>VNOI - Diễn đàn tin học, thuật toán</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.css' %}" rel="stylesheet">
  <link href="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.theme.css' %}" rel="stylesheet">
  <link href="{% static 'css/base.css' %}" rel="stylesheet">
  <!-- highlightjs -->
  <link href="{% static 'css/highlightjs_agate.css' %}" rel="stylesheet">
{#  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/agate.min.css">#}
  <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->
  <!--<link href="offcanvas.static" rel="stylesheet">-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- jGrowl -->
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
  {% block extra-head %}
  {% endblock extra-head %}
  <!-- Google analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61806804-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>

<body>
  <div class="body-wrapper">
    {% include 'main/includes/navbar.html' %}
    <div class="container" id="body-container">
      {% if messages %}
      <div id="flash-messages" class="messages">
        {% for message in messages %}
        <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% if not disable_breadcrumbs %}
      <ol id="breadcrumbs" class="breadcrumb">
        {% block breadcrumbs %}
          {# Hack to hide breadcrumbs when it is empty #}
          {# - Better solution would be to move <ol id="breadcrumbs"> inside of block breadcrumbs of every #}
          {#   blocks that need to actually show breadcrumbs. But then it would cost too much code change #}
          {# - One possible issue (though should rarely actually occurs) with this solution is that user may #}
          {#   still see breadcrumbs for some miliseconds before the browser apply this CSS style #}
          <style type="text/css">
            #breadcrumbs {
              display:none;
            }
          </style>
        {% endblock breadcrumbs %}
      </ol>
      {% endif %}
      {% block container %}
      {% endblock %}
    </div>
    <div class="push-footer"></div>
  </div>
  <!--/.container-->
    {% block footer %}
      <div class="footer">
        <div class="container">
          <p class="text-muted">&copy; VNOI Team 2015</p>
        </div>
      </div>
    {% endblock footer %}


<!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
  <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  {# highlightjs #}
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
  <script>
    $(document).ready(function () {
      $('pre:has(code)').css('background-color', '#39424e');
      hljs.initHighlightingOnLoad();
    });
  </script>
  <script src="{% static 'js/base.js' %}"></script>
  {# highlight navigation bar #}
  <script>
  var navbar_highlight = $.trim("{% block navbar-highlight %}{% endblock navbar-highlight %}");
  if (navbar_highlight == "") navbar_highlight = "navbar_home";
  $(document).ready(function () {
    $("#" + navbar_highlight).addClass("active");
  });
  </script>
  {% block extra-js %}
  {% endblock extra-js %}
</body>
</html>
