{% load humanize %}
{% load bleach_tags %}
{% load utils %}

<div class="row" id="pinned_post">
  {% for topic in topics %}
    <div class="col-xs-{{ post_width }}">
      <h2>
        {% if topic.forum__forum_group__group_type == 'f' %}
          <a href="{% url 'forum:topic_retrieve' topic.forum topic.id %}">
        {% else %}
          <a href="{% url 'library:topic_retrieve' topic.forum topic.id %}">
        {% endif %}
          {{ topic.title }}
        </a>
      </h2>
      {% if show_author %}
        <p class = "pinned-post-author">
          Đăng bởi <a href="{% url 'user:profile' topic.created_by %}">{{ topic.created_by__username }}</a>,
          {{ topic.created_at|naturaltime }}
        </p>
      {% else %}
        <p class = "pinned-post-author">
          Đăng lúc {{ topic.created_at|naturaltime }}
        </p>
      {% endif %}
      <div class="pinned-post-content-container col-xs-12">
        <p class= "pinned-post-content">
          {{ topic.content|bleach }}
        </p>
      </div>
      <div class="panel panel-default home-post-vote-panel">
        <div class = "row home-post-buttons">
          <div class = "col-xs-9">
            {% if topic.forum__forum_group__group_type == 'f' %}
              <a class="btn btn-default" href="{% url 'forum:topic_retrieve' topic.forum topic.id %}" role="button">
            {% else %}
              <a class="btn btn-default" href="{% url 'library:topic_retrieve' topic.forum topic.id %}" role="button">
            {% endif %}
              See more &raquo;
            </a>
          </div>
          <!--<div class="home-post-vote-wrapper button-container">
            <a class="home-post-downvote"
               href="javascript:void(0)"
               post-id="{{ topic.post__id }}"
               role="button"
               id="downvote-{{ topic.post__id }}">
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            </a>
            <div class="col-xs-1 home-post-count-upvote" id="total-vote-{{ topic.post__id }}" role="button">
              {{ topic.post__num_upvotes|subtract:topic.post__num_downvotes }}
            </div>
            <a class="home-post-upvote"
               href="javascript:void(0)"
               post-id="{{ topic.post__id }}"
               role="button"
               id="upvote-{{ topic.post__id }}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
          </div>-->
          <div class="home-post-vote-wrapper button-container col-md-2">
              <div class="row">
                <table style="width:100%">
                  <colgroup>
                    <col style="width:33%"></col>
                    <col style="width:33%"></col>
                    <col style="width:33%"></col>
                  </colgroup>
                  <tr>
                    <td>
                      <a class="home-post-downvote col-md-4"
                         href="javascript:void(0)"
                         post-id="{{ topic.post__id }}"
                         role="button"
                         style="text-decoration: none;margin-top:-0.5em;" 
                         id="downvote-{{ topic.post__id }}">
                        <div class="up">&#9650;</div>
                      </a>
                    </td>
                    <td>
                      <div class="home-post-count-upvote col-md-4" id="total-vote-{{ topic.post__id }}" role="button" style="margin-top:-0em;">
                        {{ topic.post__num_upvotes|subtract:topic.post__num_downvotes }}
                      </div>
                    </td>
                    <td>
                      <a class="home-post-upvote col-md-4"
                         href="javascript:void(0)"
                         post-id="{{ topic.post__id }}"
                         role="button"
                         style="text-decoration: none;margin-top:-0.5em;" 
                         id="upvote-{{ topic.post__id }}">
                        <div class="down">&#9660;</div>
                      </a>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
