/*
 * Forum
 * --------------------------------------------------
 */

@import 'const';

// Forum index page
.forum-index-table {
	margin-bottom: 0;
}
.forum-last-post {
	margin-bottom: -5px;
}
.forum-desc {
	margin-top: 4px;
	font-size: small;
}

// Forum topic retrieve page
.circular-image {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
}
.circular-image img {
	opacity: 0;
	filter: alpha(opacity=0);
}
.post-avatar-wrapper {
	margin-top: 20px;
}
.post-content-wrapper {
	padding-left: 0;
	margin-left: 2em;
	margin-right: -2em;
	padding-right: 3em;

	.panel-body {
		min-height: 100px;
	}
	.panel-footer {
		background-color: white;
	}
}
.post-username-under-avata {
	margin-top: 1em;
	margin-left: 1.5em;
}

// Triangle in forum post
.arrow_box {
	position: relative;
	background: #ffffff;
}
.arrow_box.panel-primary {
	border: 1px solid $color-main-color;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 60px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 7px;
	margin-top: -7px;
}
.arrow_box:before {
	border-width: 8px;
	margin-top: -8px;
}
.panel-primary.arrow_box:before {
	border-color: rgba(51, 122, 183, 0);
	border-right-color: #316eb5;
}
.panel-default.arrow_box:before {
	border-color: rgba(51, 122, 183, 0);
	border-right-color: #ccc;
}

// Voting in home page
.home-post-upvote {
}
.home-post-downvote {
}
.home-post-vote-wrapper {
}
.home-post-count-upvote {
}

//Voting in forum
.up {
  	color:#00a47a;
}

.up:hover {
  	//color:#00fdbc;
  	font-size:1em;
  	text-shadow: 0px 2px 2px black;
  
}


.down {
	color:#e75a48;
  
}

.down:hover {
  	font-size:1em;
  	text-shadow: 0px 2px 2px black;
}

.post-count-upvote {
	text-align: center;
}
