/*
 * Home
 * --------------------------------------------------
 */

#recent_post {
	margin-top: 50px;
}
.base-popular-topic-name {
	margin-left: 0.5em;
}
.base-popular-topic-user {
	margin-right: 0.5em;
}
#sidebar {
	margin-top: 20px;
}