/*
 * Message
 * --------------------------------------------------
 */
.msg-title {
	margin-top: 0em;
}
.msg-action-button-container{
	margin-top: -2em;
}
.msg-nav-bar {
	margin-left: 2em;
}

.msg-button {
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
	float: right;
}

.msg-view-button {
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 0.5em;
	float: right;
}

.msg-action-tick-button {
	text-align: center;
}
.msg-date {
	text-align: center;	
}
.msg-user {
	text-align: center;
}
.msg-folder-table {
	margin-bottom: 0;
}
.msg-menu-item {
	margin-left: -15px !important;
	margin-right: -15px !important;
	a {
		border-radius: 0 !important;
	}
}