/*
 * Message
 * --------------------------------------------------
 */

.msg-nav-bar {
	margin-left: 2em;
}

.msg-a-message {
	margin-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

.msg-action-tick-button {
	text-align: center;
}
.msg-date {
	text-align: center;	
}
.msg-user {
	text-align: center;
}