/*
 * Message
 * --------------------------------------------------
 */

.msg-nav-bar {
	margin-left: 2em;
}

.msg-button {
	margin-top: 1em;
	margin-bottom: 0.5em;
	margin-right: 0.5em;
	float: right;
}

.msg-a-message {
	margin-bottom: 1em;
	border-bottom: 1px solid #ddd;
}

.msg-action-tick-button, .msg-date, .msg-user {
	text-align: center;
}
