/*
 * Problems
 * --------------------------------------------------
 */
.prob-name {
	margin-top: 0.2em;
}
.prob-info {
}
.prob-detail-info {
	text-align: left;
}
.prob-menu-item {
	margin-left: -15px !important;
	margin-right: -15px !important;
	a {
		border-radius: 0 !important;
	}
}
.prob-accept-sub {
	color: #50D000;
	font-weight: bold;
}
.prob-wa-sub {
	color: #EC0010;
	font-weight: bold;	
}
.prob-50-accpet-sub {
	color: #CA8300;
	font-weight: bold;	
}
.prob-pagination {
	text-align: center;
}