/*
 * User
 * --------------------------------------------------
 */

@import 'const';

.big-circular-image {
	width: 180px;
	height: 180px;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
}
.big-circular-image img {
	opacity: 0;
	filter: alpha(opacity=0);
}
#user-info-wrapper {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#change-avatar-link {
	margin-top: 10px;
}
#user-info {
	margin-left: 10px;
}