/*
 * User
 * --------------------------------------------------
 */

@import 'const';

.big-circular-image {
	width: 180px;
	height: 180px;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
}
.big-circular-image img {
	opacity: 0;
	filter: alpha(opacity=0);
}
