/*
 * VnoiLib
 * --------------------------------------------------
 */

.lib-small-topic {
 	margin-top: 0.5em;
}

.lib-list-container {
}

.lib-topic-title {
	margin-left: 0.5em;
	text-align: left;
}

.lib-topic-username {
	margin-right: 0.5em;
	text-align: left;
}

.lib-row-same-height {
  display: table;
  width: 100%;
}

.lib-col-md-height {
  display: table-cell;
  float: none;
}
.lib-menu-item {
	margin-left: -20px !important;
	margin-right: -20px !important;
}
