/*
 * Home
 * --------------------------------------------------
 */
#recent_post {
  margin-top: 50px; }

#sidebar {
  margin-top: 20px; }

.home-post-buttons {
  margin-left: 5px;
  margin-bottom: 8px; }

.pinned-post-author {
  font-style: italic; }

.pinned-post-content-container {
  border-left: 4px solid #337ab7;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-radius: 3px;
  margin-bottom: 0.5em; }

.home-post-vote-wrapper a, .home-post-vote-wrapper div {
  margin-top: 5px; }

.home-post-vote-panel {
  border-left: 4px solid #337ab7; }

.pinned-post-content {
  margin-left: 1em; }

.pinned-post-upvote {
  font-weight: bold;
  font-size: 15px;
  color: green; }

.pinned-post-downvote {
  font-weight: bold;
  font-size: 15px;
  color: red; }

.pinned-post-count-upvote {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center; }

.pinned-post-pagination {
  float: right; }

/*
 * Forum
 * --------------------------------------------------
 */
.forum-index-table {
  margin-bottom: 0; }

.forum-last-post {
  margin-bottom: -5px; }

.forum-desc {
  margin-top: 4px;
  font-size: small; }

.circular-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px; }

.circular-image img {
  opacity: 0;
  filter: alpha(opacity=0); }

.post-avatar-wrapper {
  margin-top: 20px; }

.post-content-wrapper {
  padding-left: 0;
  margin-left: 2em;
  margin-right: -2em;
  padding-right: 3em; }
  .post-content-wrapper .panel-body {
    min-height: 100px; }

.arrow_box {
  position: relative;
  background: #ffffff; }

.arrow_box.panel-primary {
  border: 1px solid #337ab7; }

.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 60px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 7px;
  margin-top: -7px; }

.arrow_box:before {
  border-width: 8px;
  margin-top: -8px; }

.panel-primary.arrow_box:before {
  border-color: rgba(51, 122, 183, 0);
  border-right-color: #316eb5; }

.panel-default.arrow_box:before {
  border-color: rgba(51, 122, 183, 0);
  border-right-color: #ccc; }

.home-post-upvote {
  font-size: 10px;
  color: green;
  display: inline-block;
  float: right; }

.home-post-downvote {
  font-weight: bold;
  font-size: 10px;
  color: red;
  display: inline-block;
  float: right; }

.home-post-vote-wrapper {
  float: right;
  margin-right: 2.1em;
  margin-top: -0.1em; }

.home-post-count-upvote {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 1em;
  margin-top: 0.2em;
  float: right; }

/*
 * User
 * --------------------------------------------------
 */
.user-detail {
  border: 1px solid #337ab7;
  padding-left: 0.5em;
  padding-right: -0.5em;
  padding-top: 0.5em; }

.user-avatar {
  margin-top: 1em;
  margin-bottom: 1em; }

.user-info {
  margin-top: 1em;
  margin-bottom: 1em; }

.user-setting-button {
  float: right;
  margin-right: 1em; }

.user-online-judge-wrapper {
  border: 1px solid #ddd; }

.user-online-judge-title {
  text-align: left; }

.user-online-judge {
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em; }

.user-recent-topic {
  border: 1px solid #337ab7;
  padding-left: 0.5em;
  padding-right: 2em; }

.user-one-post {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em; }

.user-one-post-middle {
  border-bottom: 1px solid #ddd; }

.user-post-heading {
  margin-top: 1em; }

.user-post-day-created {
  text-align: right;
  margin-top: 1em; }

.user-post-content {
  margin-top: 0em;
  margin-bottom: 1em; }

.codeforces-handle {
  font-weight: bold; }

/*
 * Message
 * --------------------------------------------------
 */
.msg-title {
  margin-top: 0em; }

.msg-action-button-container {
  margin-top: -2em; }

.msg-nav-bar {
  margin-left: 2em; }

.msg-button {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  float: right; }

.msg-view-button {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0.5em;
  float: right; }

.msg-action-tick-button {
  text-align: center; }

.msg-date {
  text-align: center; }

.msg-user {
  text-align: center; }

.msg-folder-table {
  margin-bottom: 0; }

/*
 * VnoiLib
 * --------------------------------------------------
 */
.lib-small-topic {
  margin-top: 0.5em; }

.lib-topic-title {
  margin-left: 0.5em;
  text-align: left; }

.lib-topic-username {
  margin-right: 0.5em;
  text-align: left; }

.lib-row-same-height {
  display: table;
  width: 100%; }

.lib-col-md-height {
  display: table-cell;
  float: none; }

.lib-menu-item {
  margin-left: -20px !important;
  margin-right: -20px !important; }

/*
 * Problems
 * --------------------------------------------------
 */
.prob-name {
  margin-top: 0.2em; }

.prob-detail-info {
  text-align: left; }

/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */ }

body {
  padding-top: 70px; }

footer {
  padding: 30px 0; }

.navbar-inverse {
  background-color: #212933;
  font-weight: bold;
  border: 0; }

.navbar-inverse .active {
  border-bottom: 4px solid #337ab7; }

.navbar a, .navbar a:hover {
  color: #9d9d9d; }

.navbar-inverse .active a {
  padding-bottom: 11px; }

.navbar-text .icon {
  color: wheat; }

#logo-text {
  font-family: Calibri, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 30px;
  height: 50px;
  letter-spacing: 7px; }

.dropdown-menu > li > a {
  font-weight: strong;
  color: white; }

h2 a, h1 a {
  color: #337ab7; }

h2 a:hover, h1 a:hover {
  color: #337ab7;
  text-decoration: underline; }

.panel-primary .panel-heading a, .panel-primary .panel-heading a:hover {
  color: white; }

.glyphicon {
  margin-right: 0.5em; }

.panel-primary > .panel-heading {
  background-color: #337ab7;
  border-color: #337ab7; }

.panel-primary {
  border-color: #337ab7; }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }

  .row-offcanvas-right {
    right: 0; }

  .row-offcanvas-left {
    left: 0; }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */ }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */ }

  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */ }

  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */ }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */ } }
/* Square conner panel */
.panel {
  border-radius: 3px; }

.panel-heading {
  border-radius: 0; }

.input-xs {
  height: 30px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

#login-form {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }
  #login-form .form-group {
    margin-bottom: 15px; }
    #login-form .form-group label {
      color: white; }
    #login-form .form-group input {
      width: 100%; }
  #login-form button {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px; }

.dropdown-menu {
  background-color: #212933;
  width: 250px; }

.alert {
  padding: 7px; }

a.disabled {
  pointer-events: none;
  cursor: default; }

/*# sourceMappingURL=base.css.map */
