@import 'home';
@import 'forum';
@import 'user';
@import 'message';
@import 'vnoilib';
@import 'problems';
@import 'const';

/*
 * Style tweaks
 * --------------------------------------------------
 */

html,
body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
	padding-top: 70px;
}
footer {
	padding: 30px 0;
}

// Navigation bar
.navbar-inverse {
	background-color: $color-navbar;
	font-weight: bold;
	border: 0;
}
.navbar-inverse .active {
	border-bottom: 4px solid $color-main-color;
}
.navbar a, .navbar a:hover {
	color: #9d9d9d;
}
.navbar-inverse .active a {
	padding-bottom: 11px;
}
.navbar-text .icon {
	color: wheat;
}
#logo-text {
	font-family: Calibri, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 30px;
	height: 50px;
	letter-spacing: 7px;
}

// Heading link
h2 a, h1 a {
	color: $color-main-color;
}
h2 a:hover, h1 a:hover {
	color: $color-main-color;
	text-decoration: underline;
}
.panel-heading a, .panel-heading a:hover {
	color: white;
}

// Misc
.glyphicon {
	margin-right: 0.5em;
}
.panel-primary>.panel-heading {
	background-color: $color-main-color;
	border-color: $color-main-color;
}
.panel-primary {
	border-color: $color-main-color;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}

	.row-offcanvas-right {
		right: 0;
	}

	.row-offcanvas-left {
		left: 0;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}

	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}

	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}

.pinned-post-author {
	font-style: italic;
}

.pinned-post-content-container {
	border-left: 4px solid $color-main-color;
	border-top: 1px solid rgb(238, 238, 238);
	border-bottom: 1px solid rgb(238, 238, 238);
	border-right: 1px solid rgb(238, 238, 238);
	border-radius: $border-radius;
	margin-bottom: 0.5em;
}

.pinned-post-content {
	margin-left: 1em;
}

.pinned-post-upvote {
	font-weight: bold;
	font-size: 15px;
	color: green;
}

.pinned-post-downvote {
	font-weight: bold;
	font-size: 15px;
	color: red;
}

.pinned-post-count-upvote {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

.pinned-post-pagination {
	float: right;
}

/* Square conner panel */
.panel {
	border-radius: $border-radius;
}
.panel-heading {
	border-radius: 0;
}

.input-xs {
	height: 30px;
	padding: 4px 8px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: $border-radius;
}

#login-form {
	.form-group {
		label {
			color: white;
		}
		input {
			width: 100%
		}
		margin-bottom: 15px;
	}
	button {
		font-weight: bold;
		font-family: $font-family;
		font-size: 14px;
	}
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.dropdown-menu {
	background-color: #212933;
	width: 250px;
}

.alert {
	padding: 7px;
}

a.disabled {
	pointer-events: none;
	cursor: default;
}
