@import 'home';
@import 'forum';
@import 'user';
@import 'message';
@import 'vnoilib';
@import 'problems';
@import 'const';

/*
 * Style tweaks
 * --------------------------------------------------
 */

$footer-height: 50px;
* {
	margin: 0;
}
html, body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
	height: 100%;
}
body {
	padding-top: 70px;
}
.body-wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -$footer-height; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push-footer {
	height: $footer-height;
	width: 100%;
}
.footer {
	background-color: #f5f5f5;
}
.panel-heading div {
	padding-left: 0 !important;
}
.container .text-muted {
	margin: 15px 0;
}
.button-container {
	margin-bottom: 10px;
	margin-left: -2px;
}
.anchor {
	margin-top: -$navbar-height;
	padding-bottom: $navbar-height;
	display: block;
}

// Navigation bar
.navbar-inverse {
	background-color: $color-navbar;
	font-weight: bold;
	border: 0;

	.active {
		border-bottom: 4px solid #419cea;
		background-color: #232931 !important;
	}
}
ul.navbar-nav {
	li {
		a {
			color: white !important;
		}
		a:hover {
			color: $color-navbar-highlight !important;
		}
	}
	li:not(.dropdown).active {
		a {
			padding-bottom: 11px;
			color: $color-navbar-highlight !important;
		}
	}
}
.navbar-text .icon {
	color: wheat;
}
.fa-fw {
  width: 1.28571429em;
  text-align: center;
}
/* input field icon */
.inner-addon {
	position: relative;

	.glyphicon {
		position: absolute;
		padding: 10px;
		pointer-events: none;
	}
}
.left-addon {
	.glyphicon {
		left: 0;
	}
	input {
		padding-left: 30px;
	}
}
.right-addon {
	.glyphicon {
		right: 0;
	}
	input {
		padding-right: 30px;
	}
}

#logo-text {
	font-family: Calibri, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 30px;
	height: 50px;
	letter-spacing: 7px;
}
.dropdown-menu {
	margin-top: 6px !important;
	a:hover {
		background-color: $color-navbar !important;
	}
}
.dropdown-menu:before {
	position: absolute;
	top: -7px;
	right: 20%;
	display: inline-block;
	border-right: 7px solid transparent;
	border-bottom: 7px solid $color-navbar;
	border-left: 7px solid transparent;
	border-bottom-color: $color-navbar;
	content: '';
}
.dropdown-menu:after {
	position: absolute;
	top: -6px;
	right: 20%;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid $color-navbar;
	border-left: 6px solid transparent;
	content: '';
}

// Heading link
h2 a, h1 a {
	color: $color-main-color;
}
h2 a:hover, h1 a:hover {
	color: $color-main-color;
	text-decoration: underline;
}
.panel-primary .panel-heading a, .panel-primary .panel-heading a:hover {
	color: white;
}

// Misc
.glyphicon {
	margin-right: 0.5em;
}
.panel-primary>.panel-heading {
	background-color: $color-main-color;
	border-color: $color-main-color;
}
.panel-primary {
	border-color: $color-main-color;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */

@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		-o-transition: all .25s ease-out;
		transition: all .25s ease-out;
	}

	.row-offcanvas-right {
		right: 0;
	}

	.row-offcanvas-left {
		left: 0;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}

	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}

	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
}
/* Square conner panel */
.panel {
	border-radius: $border-radius;
}
.panel-heading {
	border-radius: 0;
}

.input-xs {
	height: 30px;
	padding: 4px 8px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: $border-radius;
}
#login-form {
	.form-group {
		label {
			color: white;
		}
		input {
			width: 100%
		}
		margin-bottom: 15px;
	}
	button {
		font-weight: bold;
		font-family: $font-family;
		font-size: 14px;
	}
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.dropdown-menu {
	background-color: #212933;
	width: 250px;
}
.alert {
	padding: 7px;
}
a.disabled {
	pointer-events: none;
	cursor: default;
}
