/*
 * Home
 * --------------------------------------------------
 */
#recent_post {
  margin-top: 50px; }

#sidebar {
  margin-top: 20px; }

.home-post-buttons {
  margin-left: 5px;
  margin-bottom: 8px; }

.pinned-post-author {
  font-style: italic; }

.pinned-post-content-container {
  border-left: 4px solid #337ab7;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-radius: 3px;
  margin-bottom: 0.5em; }

.home-post-vote-wrapper a {
  margin-top: 10px; }

.home-post-vote-wrapper div {
  margin-top: 7px; }

.home-post-vote-panel {
  border-left: 4px solid #337ab7; }

.pinned-post-content {
  margin-left: 1em; }

.pinned-post-upvote {
  font-weight: bold;
  font-size: 15px;
  color: green; }

.pinned-post-downvote {
  font-weight: bold;
  font-size: 15px;
  color: red; }

.pinned-post-count-upvote {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center; }

.pinned-post-pagination {
  float: right; }

/*
 * Forum
 * --------------------------------------------------
 */
.forum-index-table {
  margin-bottom: 0; }

.forum-last-post {
  margin-bottom: -5px; }

.forum-desc {
  margin-top: 4px;
  font-size: small; }

.circular-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px; }

.circular-image img {
  opacity: 0;
  filter: alpha(opacity=0); }

.post-avatar-wrapper {
  margin-top: 20px; }

.post-content-wrapper {
  padding-left: 0;
  margin-left: 2em;
  margin-right: -2em;
  padding-right: 3em; }
  .post-content-wrapper .panel-body {
    min-height: 100px; }
  .post-content-wrapper .panel-footer {
    background-color: white; }

.post-username-under-avata {
  margin-top: 1em;
  margin-left: 1.5em; }

.arrow_box {
  position: relative;
  background: #ffffff; }

.arrow_box.panel-primary {
  border: 1px solid #337ab7; }

.arrow_box:after, .arrow_box:before {
  right: 100%;
  top: 60px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none; }

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 7px;
  margin-top: -7px; }

.arrow_box:before {
  border-width: 8px;
  margin-top: -8px; }

.panel-primary.arrow_box:before {
  border-color: rgba(51, 122, 183, 0);
  border-right-color: #316eb5; }

.panel-default.arrow_box:before {
  border-color: rgba(51, 122, 183, 0);
  border-right-color: #ccc; }

.up {
  color: #00a47a; }

.up:hover {
  font-size: 1em;
  text-shadow: 0px 2px 2px black; }

.down {
  color: #e75a48; }

.down:hover {
  font-size: 1em;
  text-shadow: 0px 2px 2px black; }

.post-count-upvote {
  text-align: center; }

/*
 * User
 * --------------------------------------------------
 */
.big-circular-image {
  width: 180px;
  height: 180px;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px; }

.big-circular-image img {
  opacity: 0;
  filter: alpha(opacity=0); }

#user-info-wrapper {
  padding-left: 0 !important;
  padding-right: 0 !important; }

#change-avatar-link {
  margin-top: 10px; }

#user-info {
  margin-left: 10px; }

/*
 * Message
 * --------------------------------------------------
 */
.msg-title {
  margin-top: 0em; }

.msg-action-button-container {
  margin-top: -2em; }

.msg-nav-bar {
  margin-left: 2em; }

.msg-button {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  float: right; }

.msg-view-button {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0.5em;
  float: right; }

.msg-action-tick-button {
  text-align: center; }

.msg-date {
  text-align: center; }

.msg-user {
  text-align: center; }

.msg-folder-table {
  margin-bottom: 0; }

.msg-menu-item {
  margin-left: -15px !important;
  margin-right: -15px !important; }
  .msg-menu-item a {
    border-radius: 0 !important; }

/*
 * VnoiLib
 * --------------------------------------------------
 */
.lib-small-topic {
  margin-top: 0.5em; }

.lib-topic-title {
  margin-left: 0.5em;
  text-align: left; }

.lib-topic-username {
  margin-right: 0.5em;
  text-align: left; }

.lib-row-same-height {
  display: table;
  width: 100%; }

.lib-col-md-height {
  display: table-cell;
  float: none; }

.lib-menu-item {
  margin-left: -15px !important;
  margin-right: -15px !important; }
  .lib-menu-item a {
    border-radius: 0 !important; }

ul.lib-small-topic {
  margin-top: -15px;
  margin-bottom: -15px; }

div.library-group {
  margin-bottom: 50px !important; }
  div.library-group h4 a:link, div.library-group h4 a:visited, div.library-group h4 a:hover, div.library-group h4 a:active {
    text-decoration: none; }

/*
 * Problems
 * --------------------------------------------------
 */
.prob-name {
  margin-top: 0.2em; }

.prob-detail-info {
  text-align: left; }

.prob-menu-item {
  margin-left: -15px !important;
  margin-right: -15px !important; }
  .prob-menu-item a {
    border-radius: 0 !important; }

.prob-accept-sub {
  color: #50D000;
  font-weight: bold; }

.prob-wa-sub {
  color: #EC0010;
  font-weight: bold; }

.prob-50-accpet-sub {
  color: #CA8300;
  font-weight: bold; }

/*
 * Style tweaks
 * --------------------------------------------------
 */
* {
  margin: 0; }

html, body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */
  height: 100%; }

body {
  padding-top: 70px; }

.body-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto-50px;
  /* the bottom margin is the negative value of the footer's height */ }

.footer, .push-footer {
  height: 50px;
  width: 100%; }

.footer {
  background-color: #f5f5f5; }

.panel-heading div {
  padding-left: 0 !important; }

.container .text-muted {
  margin: 15px 0; }

.button-container {
  margin-bottom: 10px;
  margin-left: -2px; }

.anchor {
  margin-top: -50px;
  padding-bottom: 50px;
  display: block; }

.navbar-inverse {
  background-color: #212933;
  font-weight: bold;
  border: 0; }

.navbar-inverse .active {
  border-bottom: 4px solid #337ab7; }

.navbar a, .navbar a:hover {
  color: #9d9d9d; }

.navbar-inverse .active a {
  padding-bottom: 11px; }

.navbar-text .icon {
  color: wheat; }

#logo-text {
  font-family: Calibri, sans-serif;
  color: white;
  font-weight: bold;
  font-size: 30px;
  height: 50px;
  letter-spacing: 7px; }

.dropdown-menu {
  margin-top: 6px !important; }
  .dropdown-menu > li > a {
    color: white; }

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 20%;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #212933;
  border-left: 7px solid transparent;
  border-bottom-color: #212933;
  content: ''; }

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 20%;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #212933;
  border-left: 6px solid transparent;
  content: ''; }

h2 a, h1 a {
  color: #337ab7; }

h2 a:hover, h1 a:hover {
  color: #337ab7;
  text-decoration: underline; }

.panel-primary .panel-heading a, .panel-primary .panel-heading a:hover {
  color: white; }

.glyphicon {
  margin-right: 0.5em; }

.panel-primary > .panel-heading {
  background-color: #337ab7;
  border-color: #337ab7; }

.panel-primary {
  border-color: #337ab7; }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }

  .row-offcanvas-right {
    right: 0; }

  .row-offcanvas-left {
    left: 0; }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */ }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */ }

  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */ }

  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */ }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */ } }
/* Square conner panel */
.panel {
  border-radius: 3px; }

.panel-heading {
  border-radius: 0; }

.input-xs {
  height: 30px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

#login-form {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }
  #login-form .form-group {
    margin-bottom: 15px; }
    #login-form .form-group label {
      color: white; }
    #login-form .form-group input {
      width: 100%; }
  #login-form button {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px; }

.dropdown-menu {
  background-color: #212933;
  width: 250px; }

.alert {
  padding: 7px; }

a.disabled {
  pointer-events: none;
  cursor: default; }

/*# sourceMappingURL=base.css.map */
