/*
 * Home
 * --------------------------------------------------
 */
#recent_post {
  margin-top: 20px; }

#top-rank-panel {
  margin-top: 20px; }

/*
 * Forum
 * --------------------------------------------------
 */
#forum-main-container {
  position: relative;
  outline: none;
  margin: 0;
  padding: 0;
  display: block; }

.forum-group-head {
  background: #337ab7;
  color: #ddd;
  padding: 0.7em 1.417em;
  border: 1px solid #337ab7; }

.forum-group-container {
  background: #fbfbfb;
  border: 1px solid #DFE6ED;
  border-bottom-color: #CBD1D8; }

.forum {
  line-height: 1em;
  overflow: hidden;
  position: relative; }

.forum-icon {
  float: left; }

.forum-name-div {
  margin-top: -1em;
  border-right: 1px solid #DDE4EB;
  border-left: 1px solid #DDE4EB;
  border-bottom: 1px solid #DDE4EB; }

.forum-name {
  font-size: 1em;
  font-weight: bold; }

.forum-post-counts {
  margin-top: 1.5em;
  float: left;
  height: 100%; }

.forum-last-post {
  margin-top: -0.5em;
  padding-top: 1em;
  border-left: 1px solid #DDE4EB;
  overflow: hidden;
  white-space: nowrap; }

.forum-statistics {
  height: 100%;
  border-bottom: 1px solid #DDE4EB; }

.button-container {
  margin: 1em -0.3em; }

.post-outer-wrapper {
  margin-bottom: -0.7em; }

.post-wrapper {
  margin: 0; }

.post-heading {
  background: #337ab7;
  color: white; }

.post-heading-title {
  margin-top: 0.2em;
  margin-left: 0.5em;
  margin-bottom: 0.2em;
  font-size: 14px;
  text-align: left; }

.post-heading-created-time {
  margin-top: -1.5em;
  float: right;
  text-align: right;
  font-size: 14px; }

.post-user-detail {
  width: 150px;
  background: #e6e9eb; }

.post-user-avatar {
  margin-left: 0.7em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0px;
  width: 130px;
  height: 130px; }

.post-user-name {
  margin-top: 0.5em;
  font-weight: bold;
  color: #1E1E1E;
  text-align: center; }

.post-user-role {
  font-size: 0.8em; }

.post-user-rank {
  margin-top: 0.5em; }

.post-user-p {
  font-size: 0.9em; }

.post-content {
  min-height: 90px;
  height: 100%; }

.post-tools {
  font-size: 12px;
  position: relative;
  margin-bottom: 1em;
  bottom: -0.5em; }

.post-reply, .post-edit, .post-delete, .post-pin {
  font-size: 12px;
  color: black;
  margin-left: 0.5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em; }

.post-upvote {
  font-size: 10px;
  color: green;
  display: inline-block; }

.post-downvote {
  font-weight: bold;
  font-size: 12px;
  color: red;
  display: inline-block; }

.post-vote-wrapper {
  float: right;
  margin-right: 2.5em; }

.post-count-upvote {
  display: inline-block;
  margin-left: 1em;
  margin-right: 1em; }

.home-post-upvote {
  font-size: 10px;
  color: green;
  display: inline-block;
  float: right; }

.home-post-downvote {
  font-weight: bold;
  font-size: 10px;
  color: red;
  display: inline-block;
  float: right; }

.home-post-vote-wrapper {
  float: right;
  margin-right: 2.1em;
  margin-top: -0.1em; }

.home-post-count-upvote {
  display: inline-block;
  margin-left: 0.5em;
  margin-right: 1em;
  margin-top: 0.2em;
  float: right; }

.post-row-same-height {
  display: table;
  width: 100%; }

.col-md-height {
  display: table-cell;
  float: none; }

/*
 * User
 * --------------------------------------------------
 */
.user-detail {
  border: 1px solid #337ab7;
  padding-left: 0.5em;
  padding-right: -0.5em;
  padding-top: 0.5em; }

.user-avatar {
  margin-top: 1em;
  margin-bottom: 1em; }

.user-info {
  margin-top: 1em;
  margin-bottom: 1em; }

.user-setting-button {
  float: right;
  margin-right: 1em; }

.user-online-judge-wrapper {
  border: 1px solid #ddd; }

.user-online-judge-title {
  text-align: left; }

.user-online-judge {
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em; }

.user-recent-topic {
  border: 1px solid #337ab7;
  padding-left: 0.5em;
  padding-right: 2em; }

.user-one-post {
  margin-top: 1em;
  margin-left: 1em;
  margin-bottom: 1em; }

.user-one-post-middle {
  border-bottom: 1px solid #ddd; }

.user-post-heading {
  margin-top: 1em; }

.user-post-day-created {
  text-align: right;
  margin-top: 1em; }

.user-post-content {
  margin-top: 0em;
  margin-bottom: 1em; }

.codeforces-handle {
  font-weight: bold; }

/*
 * Message
 * --------------------------------------------------
 */
.msg-title {
  margin-top: 0em; }

.msg-action-button-container {
  margin-top: -2em; }

.msg-nav-bar {
  margin-left: 2em; }

.msg-button {
  margin-top: 1em;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  float: right; }

.msg-view-button {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-right: 0.5em;
  float: right; }

.msg-a-message {
  margin-bottom: 1em;
  border-bottom: 1px solid #ddd; }

.msg-action-tick-button {
  text-align: center; }

.msg-date {
  text-align: center; }

.msg-user {
  text-align: center; }

/*
 * VnoiLib
 * --------------------------------------------------
 */
.lib-small-topic {
  margin-top: 0.5em; }

.lib-list-container {
  border: 1px solid #ddd;
  border-radius: 5px; }

.lib-one-line {
  border-bottom: 1px solid #ddd; }

.lib-topic-title {
  margin-left: 0.5em;
  text-align: left; }

.lib-topic-username {
  margin-right: 0.5em;
  text-align: left; }

.lib-row-same-height {
  display: table;
  width: 100%; }

.lib-col-md-height {
  display: table-cell;
  float: none; }

/*
 * Problems
 * --------------------------------------------------
 */
.prob-name {
  margin-top: 0.2em; }

.prob-detail-info {
  text-align: left; }

/*
 * Basic styles for most elements
 * Note:
 * - keep in sync with jQuery UI
 */
/*
 * Style tweaks
 * --------------------------------------------------
 */
input:focus, textarea:focus, a:focus {
  outline: none; }

html,
body {
  overflow-x: hidden;
  /* Prevent scroll on narrow devices */ }

body {
  padding-top: 70px; }

footer {
  padding: 30px 0; }

.clear-padding, #contest-schedule-content, #top-voj, #top-contribution {
  padding: 0 !important; }

.clear-margin, #contest_schedule > div > table, #recent_post > div > table {
  margin: 0 !important; }

ul.nav li:not(.ui-state-active) a:hover {
  background-color: #96342b !important;
  color: #ffffff;
  border: 0;
  margin-top: -1px; }

ul.nav li.ui-state-active a:focus {
  background-color: #ffffff !important;
  pointer-events: none; }

ul.nav li.ui-state-active a:hover {
  background-color: #ffffff !important;
  pointer-events: none; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #96342b !important;
  margin-top: -1px; }

h2 a {
  color: #96342b;
  text-decoration: none; }

h2 a:hover {
  color: #96342b;
  text-decoration: none;
  border-bottom: 2px solid #96342b; }

/*
 * Navigation bar
 */
.navbar {
  min-height: 40px;
  height: 40px; }

.navbar .navbar-brand {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 16px;
  line-height: 40px; }

.navbar .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 40px; }

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out; }

  .row-offcanvas-right {
    right: 0; }

  .row-offcanvas-left {
    left: 0; }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */ }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */ }

  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */ }

  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */ }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */ } }
.base-popular-topic-title {
  color: black; }

.base-popular-topic-row {
  margin-top: 0.5em;
  border-bottom: 1px solid #ddd; }

.base-popular-topic-name {
  text-align: left;
  font-weight: bold; }

.base-popular-topic-user {
  text-align: right; }

.base-popular-topic-link {
  color: black; }

.pinned-post-author {
  font-style: italic; }

.pinned-post-content-container {
  border-left: 4px solid #ddd;
  margin-bottom: 0.5em; }

.pinned-post-content {
  margin-left: 1em; }

.pinned-post-upvote {
  font-weight: bold;
  font-size: 15px;
  color: green; }

.pinned-post-downvote {
  font-weight: bold;
  font-size: 15px;
  color: red; }

.pinned-post-count-upvote {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: center; }

.pinned-post-pagination {
  float: right; }

/* Square conner panel */
.panel, .panel-heading {
  border-radius: 0px; }

.input-xs {
  height: 30px;
  padding: 4px 8px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

#login-form {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }
  #login-form .form-group {
    margin-bottom: 15px; }
    #login-form .form-group label {
      color: white; }
    #login-form .form-group input {
      width: 100%; }
  #login-form button {
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px; }

.dropdown-menu {
  background-color: #96342b;
  width: 250px; }

.alert {
  padding: 7px; }

a.disabled {
  pointer-events: none;
  cursor: default; }

/*# sourceMappingURL=base.css.map */
