{% extends 'main/base.html' %}
{% load staticfiles %}
{% load bleach_tags %}
{% load humanize %}
{% load user_avatar_tags %}

{% block navbar-highlight %}navbar_profile{% endblock navbar-highlight %}

{% block container %}
  <div class="row">
    <div class="col-md-9">
      <div class="row user-detail">
        <div class="col-md-3 user-avatar">
          <img class="img-responsive" src="{% user_avatar_url user 180 %}" alt="user-avatar" data-holder-rendered="true"
               align="middle">
          {% if request.user.id == user.id %}
            <a href="{% url 'user:upload_avatar' %}">Change profile picture</a>
          {% endif %}
        </div>
        <div class="col-md-9 user-info">
          <div class="row">
            <h3> {{ user.username }} </h3>
          </div>
          <div class="row">
            Name: {{ user.last_name }} {{ user.first_name }}
          </div>
          <div class="row">
            Contribution: {{ user.profile.contribution }}
          </div>
          <div class="row">
            Email: {{ user.email }}
          </div>
          {% if user.profile.dob %}
            <div class="row">
              Ngày sinh: {{ user.profile.dob }}
            </div>
          {% endif %}
          <div class="row">
            Last visited: {{ user.last_login }}
          </div>
          <div class="row">
            Member since: {{ user.date_joined }}
          </div>
          {% if user.id == request.user.id %}
            <div class="row user-setting-button">
              <a class="btn btn-default post-reply" href="{% url 'user:update_profile' %}" role="button">
                Cập nhật
              </a>
            </div>
            <div class="row user-setting-button">
              <a class="btn btn-default post-reply" href="{% url 'user:friend_list' %}" role="button">
                Danh sách bạn bè
              </a>
            </div>
            <div class="row user-setting-button">
              <a class="btn btn-default post-reply" href="{% url 'user:password_change' %}" role="button">
                Thay đổi mật khẩu
              </a>
            </div>
          {% elif request.user.is_authenticated %}
            <div class="row user-setting-button">
              <a class="btn btn-default post-reply" href="{% url 'message:write' user.username %}" role="button">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                Gửi tin nhắn
              </a>
            </div>
            {% if is_friend %}
              <div class="row user-setting-button">
                <a class="btn btn-default post-reply" href="{% url 'user:remove_friend' user.id %}" role="button">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                  Remove friend
                </a>
              </div>
            {% else %}
              <div class="row user-setting-button">
                <a class="btn btn-default post-reply"
                   href="{% url 'user:add_friend' user.id %}" role="button">
                   <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  Add friend
                </a>
              </div>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="row" style="margin-top: 1.5em;">
        {% if topics %}
          <div class="user-recent-topic">
            {% for topic in topics %}
              <div class="user-one-post{% if not forloop.last %} user-one-post-middle{% endif %}">
                <div class="user-post-heading">
                  <div class="row">
                    <div class="col-md-9">
                      <a href="{{ topic.get_absolute_url }}">
                        <h4>
                          {{ topic.title }}
                        </h4>
                      </a>
                    </div>
                    <div class="col-md-3">
                      <div class="user-post-day-created">
                        {{ topic.created_at|naturaltime }}
                      </div>
                    </div>
                  </div>
                  <div class="user-post-content">
                    {{ topic.content|bleach }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-primary">
        <div class="panel-heading user-online-judge-title">
          Online judge
        </div>
        <div class="panel-body user-online-judge">
          <p>
            {% if user.profile.voj_account %}
              VOJ: {{ user.profile.voj_account }}
              {% if user.id == request.user.id %}
                | <a href="{% url 'user:unlink_voj' %}">Unlink VOJ account</a>
              {% endif %}
            {% else %}
              {% if user.id == request.user.id %}
                <a href="{% url 'user:link_voj' %}">Link VOJ account</a>
              {% else %}
                VOJ: Not linked
              {% endif %}
            {% endif %}
          </p>

          <p>
            {% if user.profile.codeforces_account %}
              Codeforces: <a href="http://codeforces.com/profile/{{ user.profile.codeforces_account }}" id="my-codeforces-account" class="codeforces-handle">{{ user.profile.codeforces_account }}</a>
              {% if user.id == request.user.id %}
                | <a href="{% url 'user:unlink_codeforces' %}">Unlink Codeforces account</a>
              {% endif %}
            {% else %}
              {% if user.id == request.user.id %}
                <a href="{% url 'user:link_codeforces' %}">Link Codeforces account</a>
              {% else %}
                Codeforces: Not linked
              {% endif %}
            {% endif %}
          </p>

          <p>
            Topcoder: {{ user.profile.topcoder_account | default:"Not linked" }}
          </p>
        </div>
      </div>
      {% if user.profile.voj_account %}
        <div class="user-voj-static">
          <div class="panel panel-primary">
            <div class="panel-heading user-voj-title">
              VOJ Static
            </div>
            <div class="panel-body user-voj-detail">
              <table>
                <tr>
                  <td>
                    Level: {{ user.profile.voj_lever }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Score: {{ user.profile.voj_score }}
                  </td>
                </tr>
                <tr>
                  <td>
                    Rank: {{ user.profile.voj_rank }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock container %}

{% block extra-js %}
  <script src="{% static 'js/user.js' %}"></script>
{% endblock extra-js %}