{% extends 'vnoiusers/base_user.html' %}
{% load i18n avatar_tags %}
{% load url from future %}

{% block container %}
    <p>{% trans "Ảnh đại diện đang dùng: " %}</p>
    {% avatar user %}
    {% if not avatars %}
        <p>{% trans " " %}</p>
    {% endif %}
    <form enctype="multipart/form-data" method="POST" action="{% url 'user:upload_avatar' %}">
        {{ upload_avatar_form.as_p }}
        <p>{% csrf_token %}<input type="submit" value='{% trans "OK" %}' /></p>
    </form>
{% endblock container %}